{% extends 'layouts/main.html' %}
{% from 'layouts/form_macros.html' import errors, required_mark %}
{% block title %}Edit Venue{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="post" action="{{ url_for('venues.edit_venue_submission', venue_id=venue.id) }}">
      {{ form.csrf_token }}
      <h3 class="form-heading">Edit venue <em>{{ venue.name }}</em> <a href="{{ url_for('main.index') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label for="name">Name {{ required_mark() }}</label>
        {{ form.name(class_ = 'form-control', autofocus = true, required = true) }}
        {{ errors(form.name) }}
      </div>
      <div class="form-group">
          <label>City &amp; State {{ required_mark() }}</label>
          <div class="form-inline">
            <div class="form-group{% if form.city.errors %} has-error{% endif %}">
              {{ form.city(class_ = 'form-control', placeholder='City', required = true) }}
              {{ errors(form.city) }}
            </div>
            <div class="form-group{% if form.state.errors %} has-error{% endif %}">
              {{ form.state(class_ = 'form-control', placeholder='State') }}
              {{ errors(form.state) }}
            </div>
          </div>
      </div>
      <div class="form-group{% if form.address.errors %} has-error{% endif %}">
        <label for="address">Address {{ required_mark() }}</label>
        {{ form.address(class_ = 'form-control', required = true) }}
        {{ errors(form.address) }}
      </div>
      <div class="form-group{% if form.phone.errors %} has-error{% endif %}">
        <label for="phone">Phone</label>
        {{ form.phone(class_ = 'form-control', placeholder='xxx-xxx-xxxx') }}
        {{ errors(form.phone) }}
      </div>
      <div class="form-group{% if form.genres.errors %} has-error{% endif %}">
        <label for="genres">Genres {{ required_mark() }}</label>
        <small>Ctrl+Click to select multiple</small>
        {{ form.genres(class_ = 'form-control') }}
        {{ errors(form.genres) }}
      </div>
      <div class="form-group{% if form.facebook_link.errors %} has-error{% endif %}">
        <label for="facebook_link">Facebook Link</label>
        {{ form.facebook_link(class_ = 'form-control', placeholder='https://www.facebook.com/...') }}
        {{ errors(form.facebook_link) }}
      </div>

      <div class="form-group{% if form.image_link.errors %} has-error{% endif %}">
        <label for="image_link">Image Link</label>
        {{ form.image_link(class_ = 'form-control', placeholder='https://') }}
        {{ errors(form.image_link) }}
      </div>

      <div class="form-group{% if form.website_link.errors %} has-error{% endif %}">
        <label for="website_link">Website Link</label>
        {{ form.website_link(class_ = 'form-control', placeholder='https://') }}
        {{ errors(form.website_link) }}
      </div>

      <div class="form-group">
        <label for="seeking_talent">Looking for Talent</label>
        {{ form.seeking_talent() }}
      </div>

      <div class="form-group{% if form.seeking_description.errors %} has-error{% endif %}">
        <label for="seeking_description">Seeking Description</label>
        {{ form.seeking_description(class_ = 'form-control', rows = 3) }}
        {{ errors(form.seeking_description) }}
      </div>

      <input type="submit" value="Edit Venue" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}
